$color-paragraph: rgba(255, 255, 255, 0.75);
$color-gray-light: rgb(242, 242, 242);
$color-sedans: rgb(227, 136, 38);
$color-suvs: rgb(0, 105, 112);
$color-luxury: rgb(0, 66, 65);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  color: $color-gray-light;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}

*:focus {
  outline-offset: 0.3125rem;
}
