.component-wrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  margin: 5.5rem 1.5rem;
  max-width: 57.5rem;

  @media only screen and (min-width: 830px) {
    grid-auto-flow: column;
    margin: 10.625rem 1.5rem;
  }
}

.card {
  text-align: left;
  padding: 3rem;
  display: grid;
  grid-gap: 1.625rem;
  max-width: 25.75rem;

  &__heading {
    color: $color-gray-light;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 0.3125rem;
  }

  &__description {
    color: $color-paragraph;
    line-height: 1.65;
  }

  &__button {
    background-color: $color-gray-light;
    justify-self: start;
    padding: 0.75rem 1.875rem;
    border-radius: 7rem;
    border: 0.125rem solid $color-gray-light;
    transition: all 0.3s ease;
    align-self: center;

    @media only screen and (min-width: 830px) {
      margin-top: 3.625rem;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      color: $color-gray-light;
    }

    &:active {
      transform: translateY(0.125rem);
    }
  }

  &--sedans {
    background-color: $color-sedans;

    & a {
      color: $color-sedans;
    }
  }

  &--suvs {
    background-color: $color-suvs;

    & a {
      color: $color-suvs;
    }
  }

  &--luxury {
    background-color: $color-luxury;

    & a {
      color: $color-luxury;
    }
  }
}
